---
name: Rust Testing
"on":
  push:
  pull_request:
env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  cargo_test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: thumbv8m.main-none-eabihf
      - uses: extractions/setup-just@v3
      - name: "Download firmware"
        run: ./ntp-clock-hardware/scripts/download-firmware.sh
      - name: "Run tests"
        run: just test
      - name: "Build the workspace"
        run: just build
      - name: Run sccache stat for check
        shell: bash
        run: ${SCCACHE_PATH} --show-stats
